.neworder-progressbar{
    width: 1048px;
    height: 48px;
    margin: 32px 72px 0 40px;
    gap: 150px;
    display: flex;
    flex-direction: row;

}

.new-order-title{
    font-family: "San Francisco Semibold";
    font-size: 40px;    
    letter-spacing: -1px;
}

.progressbar-status{
    width: 700px;
    height: 45px;
    
}

.label-status{
    font-family: "San Francisco Regular";
    font-size: 14px; 
    color: #6C757D;
    
}

.active-label{
    font-family: "San Francisco Regular";
    font-size: 14px; 
    color: #212529;
    
}

.active-label1{
    font-family: "San Francisco Regular";
    font-size: 14px; 
    color: #0D6EFD;
    
}

.super-line{
    margin: 0;
    padding: 0;
}

.progressbar-labels{
    width: 100%;
    height: 17px;
    gap: 190px;
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.alert{
    width: 1048px;
    height: 56px;
    margin: 27px 72px 0px 40px;
    color: #212529;
}

.main-container{
    width: 1070px;
    height: 1205px;
}

.order-details{
    width: 700px;
    height: 1154px;
}

.order-total{
    width: 336px;
    height: 240px;
    background-color: white;
    border-radius: 4px;
}

.order-caption{
    font-family: "San Francisco Semibold";
    font-size: 19px; 
    margin: 28px 0 0 40px;
}